# EDA Steps
# 1. Read the data
# 2.Create categorical and numerical columns
# 3.Data quick checks 
# A) shape B) Size c) len D) Head E) Tail F)info
# 4. Missing value analysis

In [51]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
churn_df=pd.read_csv(r"C:\Users\saite\Downloads\telecom_churn_data.csv")
churn_df

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2015,997132,385-7387,Female,54,75,no,yes,182.25,11.3,20.66,97,5,4.0,2,NaN
1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0.0
1997,2015,998474,353-2080,NaN,53,94,no,no,128.85,15.6,14.60,110,16,5.0,0,0.0
1998,2015,998934,359-7788,Male,40,94,no,no,178.05,10.4,20.18,100,6,NaN,3,0.0
1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1.0

**task-1: extract numerical and categorical columns separately**

In [55]:
series=churn_df.dtypes
print(series)
catcols=[]
numcols=[]
for key,value in series.items():
    if value=='object':
        catcols.append(key)
    else:
        numcols.append(key)
print(f"{catcols} is the list of categorical columns")
print(f"{numcols} is the list of numerical columns")

year                        int64
customer_id                 int64
phone_no                   object
gender                     object
age                         int64
no_of_days_subscribed       int64
multi_screen               object
mail_subscribed            object
weekly_mins_watched       float64
minimum_daily_mins        float64
maximum_daily_mins        float64
weekly_max_night_mins       int64
videos_watched              int64
maximum_days_inactive     float64
customer_support_calls      int64
churn                     float64
dtype: object
['phone_no', 'gender', 'multi_screen', 'mail_subscribed'] is the list of categorical columns
['year', 'customer_id', 'age', 'no_of_days_subscribed', 'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins', 'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive', 'customer_support_calls', 'churn'] is the list of numerical columns

In [57]:
cat_cols=churn_df.select_dtypes(include='object').columns
cat_cols

Index(['phone_no', 'gender', 'multi_screen', 'mail_subscribed'], dtype='object')

In [59]:
num_cols=churn_df.select_dtypes(exclude='object').columns
num_cols

Index(['year', 'customer_id', 'age', 'no_of_days_subscribed',
       'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins',
       'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive',
       'customer_support_calls', 'churn'],
      dtype='object')

In [15]:
type(churn_df)

pandas.core.frame.DataFrame

In [17]:
np.size(churn_df)

32000

In [29]:
np.shape(churn_df)

(2000, 16)

In [31]:
np.shape(churn_df)[0]

2000

In [33]:
np.shape(churn_df)[1]

16

In [21]:
churn_df.shape

(2000, 16)

In [25]:
churn_df.size

32000

In [35]:
len(churn_df)

2000

In [19]:
churn_df.head()

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0

In [21]:
churn_df.tail()

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
1995,2015,997132,385-7387,Female,54,75,no,yes,182.25,11.3,20.66,97,5,4.0,2,NaN
1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0.0
1997,2015,998474,353-2080,NaN,53,94,no,no,128.85,15.6,14.60,110,16,5.0,0,0.0
1998,2015,998934,359-7788,Male,40,94,no,no,178.05,10.4,20.18,100,6,NaN,3,0.0
1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1.0

In [23]:
list(churn_df.columns).index('age')

4

**convert series to dataframe ,using churn_df 's all column's names and datatype of each column elements**

In [25]:
series
pd.DataFrame(series.items(),columns=['column name','Data type'])

               column name Data type
0                     year     int64
1              customer_id     int64
2                 phone_no    object
3                   gender    object
4                      age     int64
5    no_of_days_subscribed     int64
6             multi_screen    object
7          mail_subscribed    object
8      weekly_mins_watched   float64
9       minimum_daily_mins   float64
10      maximum_daily_mins   float64
11   weekly_max_night_mins     int64
12          videos_watched     int64
13   maximum_days_inactive   float64
14  customer_support_calls     int64
15                   churn   float64

In [61]:
series.index

Index(['year', 'customer_id', 'phone_no', 'gender', 'age',
       'no_of_days_subscribed', 'multi_screen', 'mail_subscribed',
       'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins',
       'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive',
       'customer_support_calls', 'churn'],
      dtype='object')

In [63]:
series.keys()

Index(['year', 'customer_id', 'phone_no', 'gender', 'age',
       'no_of_days_subscribed', 'multi_screen', 'mail_subscribed',
       'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins',
       'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive',
       'customer_support_calls', 'churn'],
      dtype='object')

In [65]:
series.values

array([dtype('int64'), dtype('int64'), dtype('O'), dtype('O'),
       dtype('int64'), dtype('int64'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'),
       dtype('float64')], dtype=object)

**task-1: extract numerical and categorical columns separately , using list comprehension**

In [57]:
catco=[key for key,value in churn_df.dtypes.items() if value=='object']
catco

['phone_no', 'gender', 'multi_screen', 'mail_subscribed']

In [61]:
numco=[key for key,value in churn_df.dtypes.items() if value!='object']
numco

['year',
 'customer_id',
 'age',
 'no_of_days_subscribed',
 'weekly_mins_watched',
 'minimum_daily_mins',
 'maximum_daily_mins',
 'weekly_max_night_mins',
 'videos_watched',
 'maximum_days_inactive',
 'customer_support_calls',
 'churn']

In [27]:
churn_df.isnull()

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [29]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    2000 non-null   int64
 1   customer_id             2000 non-null   int64
 2   phone_no                2000 non-null   object
 3   gender                  1976 non-null   object
 4   age                     2000 non-null   int64
 5   no_of_days_subscribed   2000 non-null   int64
 6   multi_screen            2000 non-null   object
 7   mail_subscribed         2000 non-null   object
 8   weekly_mins_watched     2000 non-null   float64
 9   minimum_daily_mins      2000 non-null   float64
 10  maximum_daily_mins      2000 non-null   float64
 11  weekly_max_night_mins   2000 non-null   int64
 12  videos_watched          2000 non-null   int64
 13  maximum_days_inactive   1972 non-null   float64
 14  customer_support_calls  2000 non-null   int64
 15  churn                   1965 non-null   float64
dtypes: float64(5), int64(7), object(4)
memory usage: 250.1+ KB

In [31]:
churn_df.take([3,4,7],axis=0)

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
7,2015,103225,348-7193,Female,40,50,no,no,196.65,5.6,22.29,88,9,NaN,5,1.0

In [33]:
churn_df.take([3,5,7],axis=0).take([2,4,5,6],axis=1)# axis=1 means columns axis=0 means rows

   phone_no  age  no_of_days_subscribed multi_screen
3  331-4902   24                    131           no
5  329-6603   31                     65           no
7  348-7193   40                     50           no

In [90]:
churn_df.iloc[:3:2]# stop cannot accessed either in rows or columns

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0

In [35]:
churn_df.iloc[12:23,5:9]

    no_of_days_subscribed multi_screen mail_subscribed  weekly_mins_watched
12                     84           no              no               112.95
13                    142           no              no               218.10
14                    137           no              no               313.20
15                    100           no             yes               328.05
16                     84           no              no               239.25
17                     99           no              no               300.00
18                    115           no              no               367.50
19                    194           no              no                72.60
20                    104           no              no               246.30
21                    170           no              no               369.60
22                     76           no              no               395.10

In [117]:
churn_df.iloc[1:18:2,::3]# dataframe[rows,columns],rows=start:stop:step,columns=start:stop:step

    year  gender multi_screen  minimum_daily_mins  videos_watched  churn
1   2015  Female           no                 7.7               3    0.0
3   2015  Female           no                 9.5               4    0.0
5   2015     NaN           no                12.7               6    1.0
7   2015  Female           no                 5.6               9    1.0
9   2015    Male           no                12.3               2    0.0
11  2015    Male           no                 7.3               3    0.0
13  2015  Female           no                10.9               1    0.0
15  2015    Male           no                12.1               4    0.0
17  2015  Female           no                11.4               2    0.0

**loc is used to access the specific column directly using the name of column ,and required rows**

In [37]:
churn_df.loc[[1,21,23,1995],['churn']]

      churn
1       0.0
21      0.0
23      0.0
1995    NaN

**Missing values**

- ===============Data Cleaning and Data Analysis==============
**5. Data quality checks or Data cleaning**
#  Ex: Some column values has some punctuations column is numerical value but some where cat value available

**6. Categorical column analysis**
- A)Frequency table B) Relative frequency C) Bar chart  D)Pie chart
- write your understanding

**7.Numerical column Analysis**
- A)Statistical summary B)Histogram Data distibution 

**8.Outlier analysis**
**how to treat the outlier analysis A)Box plot B)Treat the outliers**

**9. BI variate and Multivariate analysis**
- A) How one column impact another column
- B) Correlation C)Heatmaps

# gender

In [ ]:
#l1=[]
#for i in cat_cols:
#    labels=churn_df[i].unique()
#    print(f"{labels} are the unique elements in the {i} column")
#    for j in labels:
#        con=churn_df[i]==j
#        count=len(churn_df[con])
#        l1.append(count)
#        print(pd.DataFrame(zip(labels,l1),columns=[f'{labels}','count']))
#print(l1)

# Issues in **Above** Code
# Appending outside the loop:

# l1.append(count) is not inside the inner loop, so it only stores the last count for each column.
# Incorrect DataFrame creation:

# zip(labels, l1) causes issues because l1 keeps growing, but labels is fixed.
# Inefficient Filtering (con= churn_df[i]==j)

# Instead of churn_df[con], directly count sum(con), which is much faster.

In [99]:
l1 = []  # List to store counts

for i in cat_cols:
    labels = churn_df[i].unique()  # Get unique categories for the column
    print(f"{labels} are the unique elements in the {i} column")
    
    temp_list = []  # Temporary list for each column
    
    for j in labels:
        count = sum(churn_df[i] == j)  # Count occurrences efficiently
        temp_list.append((j, count))  # Store as tuple
    
    l1.extend(temp_list)  # Add to main list
    # Creating DataFrame
    df = pd.DataFrame(temp_list, columns=[f'{i}', 'count'])
    print(df)
print(l1)  # List of all (category, count) pairs across all categorical columns

['409-8743' '340-5930' '372-3750' ... '353-2080' '359-7788' '414-1496'] are the unique elements in the phone_no column
      phone_no  count
0     409-8743      1
1     340-5930      1
2     372-3750      1
3     331-4902      1
4     351-8398      1
...        ...    ...
1995  385-7387      1
1996  383-9255      1
1997  353-2080      1
1998  359-7788      1
1999  414-1496      1

[2000 rows x 2 columns]
['Female' nan 'Male'] are the unique elements in the gender column
   gender  count
0  Female    923
1     NaN      0
2    Male   1053
['no' 'yes'] are the unique elements in the multi_screen column
  multi_screen  count
0           no   1802
1          yes    198
['no' 'yes'] are the unique elements in the mail_subscribed column
  mail_subscribed  count
0              no   1430
1             yes    570

# gender

In [101]:
labes = churn_df['gender'].unique()  # Get unique gender labels
print(labes)
count = []
for i in labes:
    count.append(churn_df[churn_df['gender'] == i].shape[0])  # Count rows where gender == i
print(count)

['Female' nan 'Male']
[923, 0, 1053]

In [ ]:
while

# using method "value_counts()"

In [97]:
count_dict = churn_df['gender'].value_counts().to_dict()
print(count_dict)

{'Male': 1053, 'Female': 923}

- =================Feature engineering===============

**10.Encoding :Convert categorical to Numerical**
- A)Label Encoder B)OneHotEncoder

**11. Scaling : A) Standardization and B) Normalization**
**12.Transformation(optional)**
- ===============Feature Selection===========

**13. Selecting the Important features for Ml model**
- ==============Dimension Reduction methods===========

**14.Principle Component Analysis**
    - Singular Value Decomposition